@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.home {

    &__container {
        margin: 16px;

        @include tablet {
            margin: 24px;
        }

        @include desktop {
            margin: 80px;
        }
    }

    &__top-bar {
        display: flex;
        justify-content: space-between;
    }
}

.shop__image {
    width: 64px;
}

.character__image {
    width: 64px;
}