@use "../../partials/mixins" as *;
@use "../../partials/variables" as *;

.home {

    &__container {
        padding: 16px;
        background: url('/assets/images/wood.jpg') no-repeat center center;
        background-size: cover;

        @include tablet {
            padding: 24px;
        }

        @include desktop {
            padding: 80px;
        }
    }

    &__top-bar {
        display: flex;
        width: 100%;
        justify-content: center;
        gap: 4px;
    }
}

.shop__image {
    width: 64px;
    cursor: pointer;
}

.character__image {
    width: 64px;
    cursor: pointer;
}