.boss-battle {
    text-align: center;
    margin-top: 20px;

    &__loading {
        font-size: 1.2em;
        color: #555;
    }

    &__header {
        font-size: 1.5em;
        margin-bottom: 15px;
        color: #333;
    }

    &__boss{
    
        &-info {
        margin-bottom: 20px;
        }

        &-level {
            font-size: 1.2em;
            margin: 5px 0;
            color: #444;
        }

        &-image {
            width: 150px;
            height: 150px;
            margin-bottom: 10px;
            border-radius: 10px;
        }
    }

    &__action {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 20px;
    }

    &__attack-button {
        padding: 10px 20px;
        font-size: 1.2em;
        color: #fff;
        background-color: #d9534f;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s;

        &:disabled {
            background-color: #ccc;
            cursor: not-allowed;
        }

        &:hover:not(:disabled) {
            background-color: #c9302c;
        }
    }

    &__attack-chances {
        margin-top: 10px;
        font-size: 1.2em;
        color: #333;
    }

    &__no-chances {
        margin-top: 10px;
        color: #d9534f;
        font-size: 1em;
    }

    &__rewards {
        margin-top: 20px;
        font-size: 1.2em;
        color: #4CAF50;

        p {
            margin: 5px 0;
        }
    }
}