.task-list {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 16px;
    background: #f4f4f4;
    background: url('/assets/images/parchment.jpg');
    background-size: cover;
    border: 1px solid #d4a373;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    color: #333;

    &__header {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #5b3713;
    }

    &__toggle-form-button {
        background: #007bff;
        color: white;
        cursor: pointer;
        padding: 10px;
        border-radius: 5px;
        border: 1px solid #ccc;

        &:hover {
            background: #0056b3;
        }
    }

    &__form {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin-bottom: 20px;

        &-group {
            display: flex;
            flex-direction: column;
        }

        &-label {
            margin-bottom: 5px;
            color: #5b3713;
        }

        &-input {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;

            &:focus {
                outline: 2px solid #d4a373;
            }
        }

        &-select,
        &-submit {
            padding: 10px;
            border-radius: 5px;
            border: 1px solid #ccc;
        }

        &-input,
        &-select {
            background: #f9f4e9;
            border: 1px solid #d4a373;
        }

        &-submit {
            background: #007bff;
            color: white;
            cursor: pointer;

            &:hover {
                background: #0056b3;
            }
        }
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background: #f9f4e9;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #d4a373;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    &__countdown {
        color: gray;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }

    &__button {
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &--complete {
            background: #28a745;
            color: white;

            &:disabled {
                background: #ccc;
                cursor: not-allowed;
            }

            &:hover:not(:disabled) {
                background: #218838;
            }
        }

        &--delete {
            background: #dc3545;
            color: white;

            &:hover {
                background: #c82333;
            }
        }
    }
}

.task-section {
    &__header {
        text-align: center;
        font-size: 1.5em;
        margin-bottom: 10px;
        color: #5b3713;
    }

    &__list {
        list-style: none;
        padding: 0;
    }

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 10px;
        background: #f9f4e9;
        margin-bottom: 10px;
        border-radius: 5px;
        border: 1px solid #d4a373;
        box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
        width: 100%;
    }

    &__description {
        color: #333;
    }

    &__countdown {
        color: gray;
    }

    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        position: relative;
    }

    &__button {
        padding: 5px 10px;
        border-radius: 5px;
        border: none;
        cursor: pointer;

        &--complete {
            background: #28a745;
            color: white;

            &:disabled {
                background: #ccc;
                cursor: not-allowed;
            }

            &:hover:not(:disabled) {
                background: #218838;
            }
        }

        &--delete {
            background: #dc3545;
            color: white;

            &:hover {
                background: #c82333;
            }
        }
    }
}

.coin-reward {
    display: flex;
    align-items: center;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    animation: moveUp 3s forwards, fadeOut 3s forwards;
    margin-left: 10px;

    img {
        width: 32px;
        height: 32px;
    }

    span {
        font-size: 1.2em;
        color: gold;
        margin-left: 5px;
    }
}

@keyframes moveUp {
    0% {
        bottom: 0;
        opacity: 1;
    }

    100% {
        bottom: 50px;
        opacity: 1;
    }
}

@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}